<%- include("_header") -%>

<h1>Are you sure you want to delete this Customer?</h1>

<form action="/delete/${customer.cusid}" method="post">
  <div class="form-horizontal">

    <%- include("_display") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Delete" class="btn btn-default btn-danger" />
        <a class="btn btn-outline-dark cancel" href="/searchajax">Cancel</a>
      </div>
    </div>
  </div>
</form>

<div id="output"></div>

<script>
// Function to display results
const displayResults = (result) => {
    const divElement = document.getElementById("output");
    // Reset output at each call
    divElement.innerHTML = "";
    if (result.trans === "Error") {
        divElement.innerHTML += `
        <h2>Error deleting customer</h2><br>
        <p>${result.result}</p>
        `
    } else {
        divElement.innerHTML += `
        <h2>Customer Deleted Successfully!</h2>
        `
    };
};

// Handle form submission
document.querySelector("form").addEventListener("submit", e => {
    // Cancel default behavior of sending a synchronous POST request
    e.preventDefault();
    // Create a FormData object, passing the form as a parameter
    const formData = new FormData(e.target);
    fetch("/delete/", {
        method: "POST",
        body: formData
    })
    .then(response => response.json())
    .then(result => {
      displayResults(result);
    })
    .catch(err => {
        console.error(err.message);
    });
    return;
}); 
</script>

<%- include("_footer") -%>