<%- include("_header") -%>

<h2> Find Customers</h2>

<h4>Total number of records in the database: <%= totRecs %></h4>

<!-- Not using bootstrap, just a simple form that you may enhance -->
<form action="/search" method="POST">
    <table>
        <tr>
            <td><label for="cusid">ID</label>:</td>
            <td><input type="number" name="cusid" id="cusid"/></td>
            <td>(equals)</td>
        </tr>
        <tr>
            <td><label for="cusfname">First Name</label>:</td>
            <td><input type="text" name="cusfname" id="cusfname" /></td>
            <td>(begins with)</td>
        </tr>
        <tr>
            <td><label for="cuslname">Last Name</label>:</td>
            <td><input type="text" name="cuslname" id="cuslname" /></td>
            <td>(begins with)</td>
        </tr>
        <tr>
            <td><label for="cusstate">State</label>:</td>
            <td><input type="text" name="cusstate" id="cusstate" /></td>
            <td>(equals)</td>
        </tr>
        <tr>
            <td><label for="cussalesytd">Sales YTD</label>:</td>
            <td><input type="number" maxlength="2" name="cussalesytd" id="cussalesytd" /></td>
            <td>(greater than or equal to)</td>
        </tr>
        <tr>
            <td><label for="cussalesprev">Previous Years Sales</label>:</td>
            <td><input type="number" name="cussalesprev" id="cussalesprev" /></td>
            <td>(greater than or equal to)</td>
        </tr>
        <tr>
            <td span="2">
                <input type="submit" value="Find" />
                <input type="reset" value="Reset" />
            </td>
        </tr>
    </table>
</form>

<%- include("_footer") -%>   
